.Backdrop {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
}

.ModalImageWrap {
    width: 50%;
}

.ModalImage {
    border-top-left-radius: calc(1rem - 2px);
    border-bottom-left-radius: calc(1rem - 2px);
    height: 100%;
    width: 100%;
}

.ModalContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.ModalHeader {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.ModalContent {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.Icon {
    color: #869ab8;
    margin-top: 1rem;
    height: 1rem;
    cursor: pointer;
}

.Icon:hover {
    color: #707f96;
}

@media screen and (max-width: 768px){
    .ModalImageWrap {
        display: none;
    }

    .ModalContainer {
        width: 100%;
    }
}

