.Button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: .25rem;
    border: none;
    margin: 0.2rem 0;
    background-color: #4a9263;
    color: white;
    font-weight: 300;
    transition: background-color .15s ease-in-out;
    padding: .6rem 1rem;
    font-size: .9rem;
}

.Button:disabled {
    background-color: #C7DEC0 !important;
    color: #4a9263 !important;
}

.Button:focus {
    outline: none;
}

.Button:hover {
    background-color: #408056;
}

.lg {
    padding: .8rem 1.2rem;
    font-size: 1rem;
}

.icon {
    margin-right: .4rem;
    height: 1rem;
}

.block {
    display: block;
    width: 100%;
}
