.btn {
    font-family: "Segoe UI", sans-serif;
    background-color: #F29F05;
    color: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1.6;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color .15s ease-in-out;
}

.btn:hover {
    background-color: #F27405;
}

.large {
    padding: .5625rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: .375rem;
}


.icon {
    margin-right: .4rem;
    height: 1rem;
}

.large > .icon {
    margin-right: .4rem;
    height: 1rem;
}
