.HeaderWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.08);
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}