.InputGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.Label {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.Input {
    display: block;
    line-height: 1.6;
    border: 1px solid #f1f4f8;
    padding: .8125rem 1.25rem;
    border-radius: .4rem;
    font-weight: 400;
}

.Input:active {
    border: 1px solid #F29F05;
}

.Input:focus {
    border: 1px solid #F29F05;;
    outline: none;
}

small.error {
    color: #BF0404;
    text-align: left;
    margin-top: .3rem;
    font-size: 12px;
}

.inputError {
    border: 1px solid #BF0404;
}

.inputSuccess {
    border: 1px solid #069225;
}

