.InputGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1.3rem;
    margin-bottom: .2rem;
    position: relative;
}

.Label {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.Input {
    display: block;
    line-height: 1.6;
    border: 1px solid #f1f4f8;
    padding: .8125rem 1.25rem;
    border-radius: .4rem;
    font-weight: 400;
}

.Input:active {
    border: 1px solid #4A9263;
}

.Input:focus {
    border: 1px solid #4A9263;;
    outline: none;
}

.Message {
    position: absolute;
    bottom: 0;
    left: 5px;
    color: #BF0404;
    text-align: left;
    margin-top: .3rem;
    font-size: 12px;
    line-height: 14px;
    min-height: 14px;
}

.inputError {
    border: 1px solid #BF0404;
}

.inputSuccess {
    border: 1px solid #069225;
}

.SelectIcon {
    position: absolute;
    height: 100%;
    right: 5px;
}

