.LikeCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: #F29F05;
    border-radius: 0.3rem;
    height: auto;
    width: auto;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.icon {
    height: 14px;
    color: #ffffff;
    margin-right: 5px;
}