.RecipeCard {
    background-color: #ffffff;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.body {
    padding: .3rem 1rem;
}

.body > h3 {
    font-size: 24px;
    margin: .5rem 0 1rem 0;
}

.body > p {
    font-size: 15px;
    margin: 5px 0 20px 0;
}

.img {
    border-top-left-radius: calc(0.4rem - 1px);
    border-top-right-radius: calc(0.4rem - 1px);
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid #f1f4f8;
}