@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

html,
body,
button,
input {
    padding: 0;
    margin: 0;
    font-family: -apple-system, 'Inter', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

/* Lift */

.lift {
    transition: transform .25s ease, box-shadow .25s ease !important;
}

.lift:hover {
    transform: translate(0, -0.3rem);
}

.lift-lg:hover {
    transform: translate(0, -0.5rem);
}

/* Shadow */

.shadow {
    transition: box-shadow .25s ease;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .05);
}

.shadow:hover {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
}

/* Typography */

small {
    font-size: .9rem;
}

.text-muted {
    color: #869ab8;
}

/* Margin */

.mt-0 {
    margin-top: 0 !important;;
}

.mb-0 {
    margin-bottom: 0 !important;;
}

.mt-1 {
    margin-top: 1rem !important;
    display: block;
}

.mb-1 {
    margin-bottom: 1rem !important;;
    display: block;
}

.mb-2 {
    margin-bottom: 2rem !important;;
    display: block;
}


